.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  /* 上側の隙間 */
  margin-left: 20px;
  /* 左側の隙間 */
}

.input-box {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}